<section class="p-3">
  <div class="row">
    <app-admin-navigation></app-admin-navigation>
    <div class="col-10">
      <div class="text-center p-1">
        <h2>All users</h2>
      </div>

      <div class="row space-top p-3 justify-content-md-center">


        <div class="col-4">
          <form #form="ngForm" (ngSubmit)="searchCity(form.value)">
            <div class="form-group">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by town" name="query" ngModel required
                  minlength="3">
                <button [disabled]="form.invalid" class="btn btn-outline-warning" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>

        <div class="col-4">
          <form #f="ngForm" (ngSubmit)="searchType(f.value)">
            <div class="form-group">
              <div class="input-group">
                <select class="form-control" name="query" ngModel required>
                  <option disabled>Search by ABO type</option>
                  <option *ngFor="let type of botypeSelect" [value]="type">{{type}}</option>
                </select>
                <button class="btn btn-outline-warning" [disabled]="f.invalid" type="submit"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>

      <div class="row space-top p-3 justify-content-md-center" *ngIf="users$">

        <table class="table table-hover col-lg-12">

          <thead>
            <tr scope="row" class="table-primary">
              <th scope="col">N</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Phone</th>
              <th scope="col">City</th>
              <th scope="col">BO TYPE</th>
              <th scope="col">Last Donation</th>

            </tr>
          </thead>
          <tr *ngFor="let user of (users$ | async); let i=index" scope="row">
            <td>{{i+1}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.phone}}</td>
            <td>{{user.city}}</td>
            <td>{{user.botype}}</td>
            <td>{{user.lastDonation}}</td>

          </tr>

        </table>

      </div>

    </div>
  </div>

</section>