<section class="p-3">
  <div class="row">
    <app-admin-navigation></app-admin-navigation>

    <div class="col-10">
      <h2 class="text-center p-1">Edit campain</h2>

      <div class="space-top p-3 justify-content-md-center" *ngIf="campaign">


        <form #f="ngForm" (ngSubmit)="editCampaign()" id="campaignForm">
          <!--
            <pre>Form Status : {{f.status}}</pre>
          <pre>{{f.value | json}}</pre>
          -->
          <fieldset>
            <legend>Edit campain</legend>

            <div class="form-group">
              <label class="form-control-label">Title:</label>
              <input class="form-control" required name="title" [(ngModel)]="campaign.title" type="text">
            </div>
            <div class="alert alert-danger" *ngIf="campaignForm?.controls?.title?.touched && campaignForm.controls?.title?.errors?.required">This field
              is required!
            </div>

            <div class="form-group">
              <label class="form-control-label">Description:</label>
              <textarea class="form-control" id="text" rows="3" [(ngModel)]="campaign.description" name="description"
                type="text"></textarea>
            </div>
            <div class="alert alert-danger"
              *ngIf="campaignForm?.controls.description?.touched && campaignForm.controls.description?.errors?.required">
              This field is
              required!
            </div>

            <div class="form-group">
              <label class="form-control-label">Start Date:</label>
              <input class="form-control" required [(ngModel)]="campaign.startDate" name="startDate" type="date">

            </div>
            <div class="alert alert-danger"
              *ngIf="campaignForm?.controls.startDate?.touched && campaignForm.controls.startDate?.errors?.required">
              This
              field is
              required!
            </div>

            <div class="form-group">
              <label class="form-control-label">End Date:</label>
              <input class="form-control" required [(ngModel)]="campaign.endDate" name="endDate" type="date">

            </div>
            <div class="alert alert-danger"
              *ngIf="campaignForm?.controls.endDate?.touched && campaignForm.controls.endDate?.errors?.required">This
              field is
              required!
            </div>

            <div class="form-group">
              <label class="form-control-label">City:</label>
              <input class="form-control" required name="city" [(ngModel)]="campaign.city" type="text">
            </div>
            <div class="alert alert-danger"
              *ngIf="campaignForm?.controls.city?.touched && campaignForm.controls.city?.errors?.required">This field
              is
              required!
            </div>

            <div class="form-group">
              <label class="form-control-label">Place:</label>
              <input class="form-control" required name="place" [(ngModel)]="campaign.place" type="text">
            </div>
            <div class="alert alert-danger"
              *ngIf="campaignForm?.controls.place?.touched && campaignForm.controls.place?.errors?.required">This field
              is
              required!
            </div>

            <button class="btn btn-primary" [disabled]="f.invalid" type="submit">Edit campaign</button>
          </fieldset>
        </form>




      </div>

    </div>
  </div>
</section>