<div class="col">
  <ul class="nav flex-column">
    <li class="nav-item"><a class="nav-link" routerLink="/user/profile">Create profile</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/user/profile/details">View profile</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/user/profile/edit">Edit profile</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/user/campain">Campains</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/user/donation">Donation</a></li>
    <li class="nav-item"><a class="nav-link" routerLink="/user/forum">Forum</a></li>
  </ul>
</div>