<div class="mw-100 space-top p-3 justify-content-md-center overflow-hidden ">
    <div class="col-md-12 text-center">
        <h1>
            Welcome {{username}} to BDO Service
        </h1>
    </div>

    

    <div class="mw-100 media">

        <img src="assets/images/i-donate-icon.png" class="home-page-img align-self-start mr-3" alt="BODK logo">

        <div class="media-body">
            <h2 class="mt-0">За нас</h2>
            <p>Ние сме сдружение с нестопанска цел с дейност в обществена полза, със седалище гр. София, учредено
                на 20.10.2010 година. Сдружението е с основна задача да насърчава и популяризира редовното,
                анонимно, доброволно и необвързано с облаги кръводаряване на територията на Република България,
                Европа и в световен мащаб. </p>
            <a routerLink="/about">Научете повече за нас </a>
        </div>

    </div>

    <div class="mw-100 media">

        <img src="assets/images/i-received-icon.png" class="home-page-img align-self-start mr-3" alt="logo">
        <div class="media-body">
            <h2 class="mt-0"> За кръводарителите</h2>
            <p>Kръводаряването е сред най-високо хуманните постъпки, които не могат и не би трябвало да бъдат оценявани
                в пари!<br>
                Всеки ден поради катастрофи, операции, раждания и множество заболявания, повече
                от 500 човека в
                България имат животоспасяваща нужда от кръв и кръвни продукти, които се набавят <span
                    class="keywords">САМО</span> и
                <span class="keywords">ЕДИНСТВЕНО</span> чрез <span class="keywords">КРЪВОДАРЯВАНЕ</span>! </p>
            <a routerLink="/donation" class="startPage-btn">Научете повече </a>
        </div>

    </div>

    <div class="mw-100 media">

        <img src="assets/images/pink-heart-outline-clipart-aTexGLAT4.png" class="home-page-img align-self-start mr-3"
            alt="logo">
        <div class="media-body">
            <h2 class="mt-0"> За тези които се нуждаят</h2>
            <p> За всички, които търсят кръводарители за себе си или за свои близки – поради регулярна нужда,
                поради предстояща операция, поради заболяване или инцидент. </p>
            <a routerLink="/contact" class="startPage-btn">Свържете се с нас </a>
        </div>

    </div>

</div>