<div class="mw-100 space-top p-3 justify-content-md-center overflow-hidden">
    <div class="col-md-12 text-center">
        <h1>
            Welcome {{username}} to BDO Service
        </h1>
    </div>
    <div class="col-md-12 p-3">
        <div class="card-deck ">
            <div class="card mb-3">
                <h3 class="card-header">За нас</h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <img style="width: 100%; display: block;" src="assets/images/i-donate-icon.png" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Ние сме сдружение с нестопанска цел с дейност в обществена полза, със седалище
                        гр.
                        София, учредено
                        на 20.10.2010 година. Сдружението е с основна задача да насърчава и популяризира редовното,
                        анонимно, доброволно и необвързано с облаги кръводаряване на територията на Република България,
                        Европа и в световен мащаб. </p>

                </div>
                <div class="card-footer">
                    <a routerLink="/about">Научете повече за нас </a>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header">За кръводарителите</h3>
                <div class="card-body">
                    <h5 class="card-title">Special title treatment</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <img style="width: 100%; display: block;" src="assets/images/i-received-icon.png" alt="Card image">
                <div class="card-body">
                    <p class="card-text">Kръводаряването е сред най-високо хуманните постъпки, които не могат и не би
                        трябвало да бъдат оценявани
                        в пари!<br>
                        Всеки ден поради катастрофи, операции, раждания и множество заболявания, повече
                        от 500 човека в
                        България имат животоспасяваща нужда от кръв и кръвни продукти, които се набавят <span
                            class="keywords">САМО</span> и
                        <span class="keywords">ЕДИНСТВЕНО</span> чрез <span class="keywords">КРЪВОДАРЯВАНЕ</span>!</p>


                </div>
                <div class="card-footer">
                    <a routerLink="/donation" class="startPage-btn">Научете повече </a>
                </div>
            </div>
            <div class="card mb-3">
                <h3 class="card-header">За нуждаещите се</h3>
                <div class="card-body">
                    <h5 class="card-title">За тези, които имат нужда</h5>
                    <h6 class="card-subtitle text-muted">Support card subtitle</h6>
                </div>
                <img style="width: 100%; display: block;" src="assets/images/pink-heart-outline-clipart-aTexGLAT4.png"
                    alt="Card image">
                <div class="card-body">
                    <p class="card-text">За всички, които търсят кръводарители за себе си или за свои близки – поради
                        регулярна нужда,
                        поради предстояща операция, поради заболяване или инцидент.</p>

                </div>
                <div class="card-footer">
                    <a routerLink="/contact" class="startPage-btn">Свържете се с нас </a>
                </div>
            </div>
        </div>
    </div>


</div>