<div class="col">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" routerLink="/admin">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" routerLink="/admin/users">Users</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" routerLink="/admin/campain">Campain</a>
    </li>
    <li class="nav-item">
      <a class="nav-link " data-toggle="tab" routerLink="/admin/edit">Edit campain</a>
    </li>
  </ul>
</div>