   <app-admin-navigation></app-admin-navigation>
   <section class="mw-100 space-top p-3 justify-content-md-center overflow-hidden">
    <div class="row">
     

        <div class="row space-top p-3 justify-content-md-center">
            <div class="card-deck">

                <div class="card text-center" style="width: 18rem;">
                    <img src="assets/images/pink-heart-outline-clipart-aTexGLAT4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text"><strong>Welcome, {{username}}! </strong> </p>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">Campaign</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Make new campaign</h6>
                        <p class="card-text">We need to find more donors, so you have to make a campaign.</p>
                        <div class="card-footer text-muted row space-top p-3 justify-content-md-center">
                            <a routerLink="/admin/campaign/create" class="btn btn-warning">Create new campaign</a>
                        </div>
                    </div>
                </div>

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">Users</h4>
                        <h6 class="card-subtitle mb-2 text-muted">Manage users</h6>
                        <p class="card-text">Or if you can send a message to the users and invite them to donate
                            blood!</p>

                        <div class="card-footer text-muted row space-top p-3 justify-content-md-center">
                            <a routerLink="/admin/users" class="btn btn-warning">View all users</a>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>