<section>
    <div class="row">
        <app-admin-navigation></app-admin-navigation>

        <div class="col-10 p-3">
            <h2>Welcome to BDO system</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, qui? Reiciendis assumenda, esse
                laborum sint aliquam accusantium itaque dolore quam doloremque ratione cumque architecto debitis quos
                rem ullam molestiae fugiat.</p>

            <h3>Latest campain</h3>
        </div>
    </div>
</section>