<section>
    <div class="row">
        <div class="col-2">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" routerLink="/admin">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" routerLink="/admin/users">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" routerLink="/admin/campain">Campain</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" routerLink="/admin/edit">Edit campain</a>
                </li>
            </ul>
        </div>

        <div class="col-10">
            <h2>Welcome to BDO system</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Temporibus, qui? Reiciendis assumenda, esse
                laborum sint aliquam accusantium itaque dolore quam doloremque ratione cumque architecto debitis quos
                rem ullam molestiae fugiat.</p>

            <h3>Latest campain</h3>
        </div>
    </div>
</section>