<section class="mw-100 space-top p-3 justify-content-md-center overflow-hidden">
  <div class="col-md-12 text-center">
    <h3>Contact</h3>
    <p>Send us an email and we will answer you as soon as possble!</p>
  </div>

<div class="row">
  <div class="col-md-6">
    <h4>Contact detals</h4>

    <h5>Address</h5>
    <address>
        Visit us at:<br>
      1000 Sofia <br>
      7 Dolno Nanagornishte blvd.<br>
    </address>

  </div>
  <div class="col-md-6">
    <form id="contact-form">
        <div class="form-group">
    
            <label class="form-control-label" for="name">Full name</label>
            <input class="form-control" required type="text" id="name" name="name" placeholder="Add your full name..">
        </div>

        <div class="form-group">
            <label class="form-control-label" for="email">Email</label>
            <input class="form-control" required type="email" id="email" name="email" placeholder="Add email..">
        </div>

        <div class="form-group">
            <label class="form-control-label" for="phone">Phone number</label>
            <input class="form-control" required type="text" id="phone" name="phone" placeholder="Add phone number..">
        </div>

        <div class="form-group">
            <label class="form-control-label" for="thema">Context</label>
            <select class="form-control" required id="thema" name="thema">
                <option value="needHelp" disabled>I want to contact about:</option>
                <option value="needHelp">I need help</option>
                <option value="wantToHelp">I want to help</option>
                <option value="more">Something else</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="subject">Message</label>
            <textarea class="form-control" required id="subject" name="subject" placeholder="Your message.." style="height:200px"></textarea>
        </div>

        <button class="primary" href="mailto:office@bodk.loc">Send mail</button>

    </form>
  </div>
</div>
    

</section>