header{
    background-color: #BF5083;
    color: white;
    width: 100%;
    
}
.up-part{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 2em;
    width: 100%;
}

.social{
    width: 20%;
    font-size: 1.25em;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    align-self: center;
}
.contacts-details{
    width: 150px;
    flex: 1 1 auto;
    align-self: center;
}

.icon{
    border: 0.1em solid white;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.1em;
}

header ul{
    list-style: none;
}

header li{
   
    padding: 0.2em;
    margin: 0.2em;
}

header a{
    text-decoration: none;
    color: white;
}

.logo{
    width: 50%;
    font-size: 2em;
    flex: 1 1 auto;
    align-self: center;
}

.navbar{
    border: none !important;
}



@media screen and (max-width:490px){
    .up-part{
        flex-direction: column;
        justify-content: left;
        align-items: flex-start;
    }
}


@media screen and (max-width:740px){
    .social{
        width: 150px;
    }
}

@media screen and (max-width:740px){
    .envelope{
        width: 150px;
      }
}