<header>
  <div class="up-part">

    <div class="contacts-details col">
      <div>
        <i class="fas fa-envelope"></i>
        bodk(et)local.host
      </div>

      <div>
        <i class="fas fa-mobile-alt"></i>
        <span> +359/123456789</span>
      </div>
    </div>

    <div class="logo col">
      <i class="fas fa-hand-holding-heart logo"></i>
      <div>BODK</div>
    </div>

    <div class="social">
      <div class="icon">
        <i class="fab fa-facebook"></i>
      </div>
      <div class="icon">
        <i class="fab fa-instagram"></i>
      </div>
      <div class="icon">
        <i class="fab fa-youtube"></i>
      </div>
    </div>



  </div>


  <nav class="navbar navbar-expand  justify-content-center">
    <div class="row">
      <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarColor01"
        aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active" *ngIf="!authService.isAuthenticated()">
            <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated() && !isAdmin"><a class="nav-link"
              routerLink="/user">Home user</a></li>
          <li class="nav-item" *ngIf="authService.isAuthenticated() && isAdmin"><a class="nav-link"
              routerLink="/admin">Home admin</a></li>
          <li class="nav-item" *ngIf="!authService.isAuthenticated()"><a class="nav-link" routerLink="/about">About
              Us</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isAuthenticated()"><a class="nav-link"
              routerLink="/contact">Contact</a></li>
          <li class="nav-item" *ngIf="!authService.isAuthenticated()"><a class="nav-link"
              routerLink="/donation">Donation</a></li>
          <li class="nav-item" *ngIf="!authService.isAuthenticated()"><a class="nav-link" routerLink="/login">Login</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isAuthenticated()"><a class="nav-link"
              routerLink="/register">Register</a></li>

          <li class="nav-item" *ngIf="authService.isAuthenticated()"><a class="nav-link" (click)="logout()">Logout</a>
        </ul>

      </div>
    </div>



  </nav>

</header>