<header>
  <div class="up-part">
     <div class="logo">
    <img src="" alt="Logo"> 
    <div>BODK</div>
  </div>
  <div class="social">
    icons
  </div>
  <div>contacts</div> 
 

  </div>
 
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">About Us</a></li>
      <li><a routerLink="/contact">Contact</a></li>
      <li><a routerLink="/donation">Donation</a></li>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ul>
  </nav>
 
</header>
