<header>
  <div class="up-part">
    <div class="logo">
      <img src="" alt="Logo">
      <div>BODK</div>
    </div>
    <div class="social">
      icons
    </div>
    <div>contacts</div>


  </div>

  <nav>
    <ul>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/">Home</a></li>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/about">About Us</a></li>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/contact">Contact</a></li>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/donation">Donation</a></li>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login">Login</a></li>
      <li *ngIf="!authService.isAuthenticated()"><a routerLink="/register">Register</a></li>

      <li *ngIf="authService.isAuthenticated()"><a (click)="logout()">Logout</a></li>
      <li *ngIf="authService.isAuthenticated() && !isAdmin"><a routerLink="/user">User Panel</a></li>
      <li *ngIf="authService.isAuthenticated() && isAdmin"><a routerLink="/admin">Admin Panel</a></li>


    </ul>
  </nav>

</header>