<app-user-navigation></app-user-navigation>
<section class="p-3">
  <div class="row space-top p-3 justify-content-md-center">
    <div class="col-12 col-md-8">
      <div class="space-top p-3 justify-content-md-center">
        <div class="col-md-12 text-center">
          <h3>Latest campaigns</h3>
        </div>
      </div>

      <div class="row space-top p-3 justify-content-md-center">
        <div class="card-deck">
          <div class="card" *ngFor="let camp of (campaigns$ | async)">
            <div class="card-header text-center">
              <h5 class="card-title">{{ camp.title}}</h5>
            </div>

            <div class="card-body">

              <div class="card-text">
                <i class="fas fa-heart"></i>
                <p>{{camp.description}}</p>
                <i class="fas fa-calendar-day"></i>
                <p>
                  <span>Start Date: {{ camp.startDate }}</span><br>
                  <span>End Date: {{ camp.endDate}}</span>
                </p>
                <i class="fas fa-map-marked"></i>
                <p> City: {{camp.city}} <br> Place: {{camp.place}}</p>

              </div>
            </div>

            <div class="card-footer text-muted" *ngIf="hasProfile">
              <button class="btn btn-warning" (click)="joinToCampaign(''+ camp._id,''+ camp.title)">Join to
                campaign</button>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>

</section>